* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

:root {
    --primary: #A2A7D0;
    --secondary: #222647;
    --tertiary: #5F6AC7;
    
}  
body {
    background: var(--primary);
    color: var(--secondary);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
header {
    background: var(--secondary);
    width: 100vw;
    padding: 30px 25px;
    border-bottom: 5px solid var(--tertiary);
}

.container {
    width: 800px;
   
}

.score {

}

h2.timer {
    color: var(--primary);
}