* {
    box-sizing: border-box;
  }

:root {
    --primary: #A2A7D0;
    --secondary: #222647;
    --tertiary: #5F6AC7;
    
}  
 
header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
}

.score {

}

h2.timer {

}